body {
    margin: 0;
    /*width: 100vw;
    height: 100vh;*/
    /*background-position: center; /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 85%;
}

.header {
    width: 80vw;
    height: 80px;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 50px;
    height: 50px;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header div p {
    margin-right: 5vw;
    color: white;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(58, 41, 145, 0.8);
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
}

#pricetext {
    text-align: center;
    margin: 0;
}

.title {
    margin-left: 10vw;
}

.title h1 {
    font-size: 100px;
    color: yellow;
}

.title h2 {
    font-size: 40px;
    color: white;
}